@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scroll-smooth {
  scroll-behavior: smooth;
}


h1 {
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  font-size: 14px;
  text-align: center;
  border-radius: 12px;
  background-color: #b0438a; /* Original button color */
  color: white;
  z-index: 1; /* Ensures the button content is above the pseudo-element */
  transition: color 0.3s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #b0438a 0%, #dc5aaf 100%);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 0; /* Keeps the pseudo-element behind the text */
}

.button:hover::before {
  opacity: 1;
}

.button > * {
  position: relative;
  z-index: 2; /* Ensures the button content is above the pseudo-element */
}

.nav-card{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.custom-scrollbar {
  overflow: auto; /* Enable custom scrollbar */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background of the track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the hover color of the thumb */
}

.custom-scrollbar::-webkit-scrollbar {
  display: block; /* Display the custom scrollbar */
  position: absolute;
}

.Line {

  width: 100%;

  height: 1px;

  flex-grow: 0;

  margin: 7px 0 8px;

  background-color: rgba(35, 49, 76, 0.3);

}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 70px;
  height: 26px;
  background: #23314c;
  border-radius: 50px;
  --c:no-repeat radial-gradient(farthest-side,#000 92%,#0000);
  --s:18px 18px;
  -webkit-mask:
    var(--c) left  4px top 50%,
    var(--c) center,
    var(--c) right 4px top 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite:xor;
          mask-composite:exclude;
  animation: l1 1.5s infinite;
}
@keyframes l1 {
  0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
  16.67%{-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
  33.33%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
  50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
  66.67%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
  83.33%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
  100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
}